a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:50px;
  border-bottom: 1px solid grey;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  font-weight: normal;
  font-family: 'Julius Sans One', sans-serif;
}
h2 {
  padding: 30px 10px 30px 10px;
}
body {
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: 'Nanum Gothic', sans-serif;
}
ul {
  font-size: 1.4em;
  text-align:left;
  border-right:1px solid grey;
  width:100px;
  margin: 0 0 0 10px;
  padding:30px 20px 20px 50px;
  list-style: square;
  line-height: 2.7em;
}
p {
  width:auto;
  line-height: 2em;
  margin-left: 50px;
  margin-right: 50px;
}
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article {
  padding-left:50px;
  margin-right:25px;
}
#night_day {
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}
#disqus_thread {
  padding: 35px 50px 50px 50px;
}
